/* ==============================================================
   1. Font Faces
   ============================================================== */

@font-face {
  font-family: "Jost";
  src: url("https://cdn.shopify.com/s/files/1/1030/6460/0708/files/Jost-Light.woff2?v=1790731190");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("https://cdn.shopify.com/s/files/1/1030/6460/0708/files/Jost-Regular.woff2?v=1790731190");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("https://cdn.shopify.com/s/files/1/1030/6460/0708/files/Jost-Medium.woff2?v=1790731190");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lustria";
  src: url("https://cdn.shopify.com/s/files/1/1030/6460/0708/files/Lustria-Regular.woff2?v=1790731190");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* ==============================================================
   2. Design Token
   ============================================================== */
:root {
  /* Colors */
  --color-yellow: #FFF544;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f5f5f5;
  --color-text-muted: #333333;

  
}